.text-reveal-content {
    transform: translateY(200%);
    height: 100%;
    width: 100%;
    display: inline-block;
    transition: 1.25s ease-out;
}
.text-reveal-tag{
    overflow: hidden;
}

.text-reveal-tag .active{
    transform: translateY(0%) !important;
    transition: 1.25s ease-out;
}


.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #000000;
    width: max-content;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #5a49f8;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  